/* You can add global styles to this file, and also import other style files */

body {
    margin-top: 0px;
}


.margin-top-3x {
    margin-top: 30px !important;
}

.padding-x-zero {
    padding-left: 0px !important;
    padding-right: 0px !important;
}