<section class="container">
  <!-- <div style="text-align:center">
    <h1>
    Praestan Health
  </h1>
    <img width="500" alt="Angular Logo" src="../assets/Praestan_Logo_Health.jpg">
  </div> -->
  <div class="row margin-top-3x">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Go to Dashboard</h5>
          <p class="card-text">We are revolutionizing the “care as usual” assessment and treatment process</p>
          <a routerLink="/member/dashboard" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</section>